{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta tags -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta name="viewport" content="width=device-width" />

  {% block seo %} {% include 'components/seo.html' %} {% endblock %}

    <title>
        {% block title %} Project Name {% endblock title %}
    </title>

  <!-- Halfmoon CSS -->
  <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
<!-- master css -->
<link rel="stylesheet" href="{% static 'css/master.css' %}" type="text/css" />
</head>


<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-set-preferred-mode-onload="true">
  <div class="page-wrapper">
    <div class="sticky-alerts"></div>
      <div class="content-wrapper" id="content">
        {% if messages %} {% include 'components/messages.html' %} {% endif %}
        {% include 'components/navbar.html' %}
        {% block content %} {% endblock content %}
        {% include 'components/footer.html' %}
      
      </div>


  </div>

  
  <!-- Halfmoon JS -->
<script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>

<!-- HTMX CDN -->
<script src="https://unpkg.com/htmx.org@1.1.0"></script> 
    <!-- CSRF request in the headers -->
<script>
document.body.addEventListener('htmx:configRequest', (e) => {
  e.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
  })
</script>
<!-- 
<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "WebPage",
"name": "HTMX-Django",
"description": "Learn how to build modern single page applications using Django & HTMX.",
    "publisher": {
            "@type": "Organization",
            "name": "HTMX-Django"
            }
    }
    </script>
  -->
</body>
</html>